@import '_settings.scss'; 
$main_color: #A21313;
$white_color: #fff;
$font_family: Arial,Helvetica,sans-serif;
// Global
html,body{
	background-color: #f3f3f3;
	font-family: $font_family;
	line-height: 25px;
	margin:0px;
}
a{
	color: #333;
	text-decoration: none;
}
.header{ 
	background-color: $white_color;
	.mega-menu-wrap{
		.mega-menu{
			max-width: 1200px;
			margin: 0 auto !important;
		}
	}
}

// Banner
.wrapper_banner{
	height: 400px;
	background-image:url(../images/banner.jpg);
	background-size:cover;
	background-position:center;
	display: flex;
	align-items: center;
	justify-content: center;
	position:relative;
	@include mq(sp){
		height: 250px;
	}
	&:before{
	    content: "";
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    background-color: #23282d69;
	    background-blend-mode: multiply;
	    mix-blend-mode: multiply;
	    z-index:1;
	}
	.banner{
		text-align: center;
		p{
			color: #ffffff;
			font-size: 28px;
		}
	}
	h1{
		color: $white_color;
		z-index:1;
		position:relative;
		font-weight: 400;
		line-height: 40px;
	}
	.meta_blog{
		position:relative;
		color: $white_color;
		z-index:1; 
		ul{
			display: flex;
			list-style: none;
			justify-content: center;
			li{
				margin-right: 15px;
				&.date{
					background-color:$main_color;
					border-radius:5px;
					padding:3px 10px;
					font-size: 14px;
				}
				&.category{
					background-color:$main_color;
					border-radius:5px;
					a{
						color: $white_color;
						font-size: 14px;
						padding:3px 10px;
						line-height: 30px;
						&:before{
							content: "#";
						}
					}
				}
			}
		}
	}
}

// Main
.container-main{
	max-width: 1200px;
	margin:0 auto;
	margin-top: 30px;
	margin-bottom: 50px;
	@include mq(sp){
		margin-top: 15px;
	}
	.list-blog{
		.blog-item{
			background-color:$white_color;
			margin-bottom: 15px;
			border-radius: 5px;
			.blog-wrap{
				display: flex;
				@include mq(sp){
					flex-flow: wrap;
				}
				.blog-thumbnail{
					width:250px;
					background-size:cover;
					background-position:center;
					@include mq(sp){
						width: 100%;
					}
					span{
						background-color: $main_color;
					}
				}
				.blog-content{
					width: calc(100% - 280px);
					padding:20px;
					@include mq(sp){
						width: 100%;
					}
					h3{
						margin: 0px;
						font-size: 22px;
						font-weight: 400;
						letter-spacing: 1.2;
						@include mq(sp){
							font-size: 20px;
						}
						a{
							color: #000;
							font-weight:500;
							&:hover{
								color: $main_color;
								transition: 0.3s;
							}
						}
					}
					.blog-description{
						color: #000000ba;
					}
					.blog-meta{
						.meta-list{
							list-style: none;
							display: flex;
							padding:0px;
							@include mq(sp){
								flex-flow: wrap;
							}
							li{
								margin-right: 15px;
								&:first-child{
									margin-left: 0px;
								}
								&.category{
									span{
										background-color: $main_color;
										border-radius: 5px;
										margin-right: 5px;
										padding:2px 10px;
										a{
											color: $white_color;
											font-size:14px;
										}
									}
								}
							}
						}
					}
				}
			}
			.blog-wrap-code{
				padding:15px;
			}
		}
		.blog-read-more{
			margin-top: 10px;
			a{
				color: $main_color;
				font-weight: 400;
			}
		}
	}
	// Single
	.single{
		display: flex;
		margin-top:25px;
		@include mq(tab){
			padding:0 20px;
		}
		@include mq(sp){
			padding:0 10px;
			flex-flow: wrap;
			margin-top: 15px;
		}
		.single_blog{
			width: calc(100% - 330px);
			.content{
				background-color: $white_color;
				padding: 15px;
				border-radius: 5px;
			    display: inline-table;
			    .meta_blog{
			    	ul{
			    		list-style: none;
			    		display: flex;
			    		padding-left:0px;
			    		margin-top: 0px;
			    		li{
			    			margin-right: 15px;
			    			&.category{
			    				a{
			    					background-color:$main_color;
			    					color: $white_color;
			    					padding:5px 10px;
			    					border-radius:3px;
			    					font-size: 14px;
			    				}
			    			}
			    		}
			    	}
			    }
			}
			@include mq(tab){
				width: calc(100% - 235px);
			}
			@include mq(sp){
				width: 100%;
			}
		}
		.sidebar{
			width: 300px;
			margin-left:30px;
			@include mq(tab){
				margin-left: 15px;
				width: 220px;
			}
			@include mq(sp){
				margin-left: 0px;
				width: 100%;
				margin-top: 40px;
			}
			h2{
				padding: 0px;
				margin: 0px;
				font-weight: 400;
				font-size: 20px;
			}
			.widget_sidebar{
				margin-bottom: 40px;
				.list-tags{
					background-color: $white_color;
					border-radius: 5px;
				    padding: 5px;
				    margin-top: 10px;
		    		a{
	    			    margin: 4px 0px;
					    background-color: #f3f3f3;
					    border-radius: 3px;
					    padding: 2px 9px;
					    display: inline-block;
		    			&:hover{
		    				color: $main_color;
		    			}
		    		}
				}
				.list-blog{
					background-color: $white_color;
					border-radius: 5px;
				    padding: 15px;
				    margin-top: 10px;
					ul{
						list-style: none;
					    padding: 0px;
					    margin: 0px;
					    li{
					    	margin-bottom: 15px;
					    	padding-bottom:15px;
				    	    border-bottom: 1px dotted #f0f0f0;
				    	    &:last-child{
				    	    	margin-bottom: 0px;
				    	    	padding-bottom:0px;
				    	    	border-bottom: 0px
				    	    }
				    	    a{
				    	    	&:hover{
				    	    		color: $main_color;
				    	    		transition: 0.3s;
				    	    	}
				    	    }
					    }
					}
				}
			}
		}
	}
	.tags{
		display: flex;
		margin-top:25px;
		@include mq(tab){
			padding:0 20px;
		}
		@include mq(sp){
			padding:0 10px;
			flex-flow: wrap;
			margin-top: 15px;
		}
		.list___blog{
			padding: 0px;
			border-radius: 5px;
			width: calc(100% - 330px);
			@include mq(tab){
				width: calc(100% - 235px);
			}
			@include mq(sp){
				width: 100%;
			}
		}
		.sidebar{
			width: 300px;
			margin-left:30px;
			@include mq(tab){
				margin-left: 15px;
				width: 220px;
			}
			@include mq(sp){
				margin-left: 0px;
				width: 100%;
				margin-top: 40px;
			}
			h2{
				padding: 0px;
				margin: 0px;
				font-weight: 400;
				font-size: 20px;
			}
			.widget_sidebar{
				margin-bottom: 40px;
				.list-tags{
					background-color: $white_color;
					border-radius: 5px;
				    padding: 5px;
				    margin-top: 10px;
		    		a{
	    			    margin: 4px 0px;
					    background-color: #f3f3f3;
					    border-radius: 3px;
					    padding: 2px 9px;
					    display: inline-block;
		    			&:hover{
		    				color: $main_color;
		    			}
		    		}
				}
				.list-blog{
					background-color: $white_color;
					border-radius: 5px;
				    padding: 15px;
				    margin-top: 10px;
					ul{
						list-style: none;
					    padding: 0px;
					    margin: 0px;
					    li{
					    	margin-bottom: 15px;
					    	padding-bottom:15px;
				    	    border-bottom: 1px dotted #f0f0f0;
				    	    &:last-child{
				    	    	margin-bottom: 0px;
				    	    	padding-bottom:0px;
				    	    	border-bottom: 0px
				    	    }
				    	    a{
				    	    	&:hover{
				    	    		color: $main_color;
				    	    		transition: 0.3s;
				    	    	}
				    	    }
					    }
					}
				}
			}
		}
	}
	.breadcrumb{
		@include mq(tab){
			margin-left: 20px;
		}
		@include mq(sp){
			font-size: 14px;
			margin-left: 10px;
		}
	}
}
.section_hp{
	margin: 80px 0px;
	h2{
		&.panel_title{
			font-weight: 400;
		}
	}
	.viewmore{
		text-align: center;
		a{
			color: $main_color;
		    text-align: center;
		    background: #ffffff;
		    padding: 10px 20px;
		    display: inline-block;
		    width: 250px;
		    margin: 0 auto;
	       	box-shadow: 0px 15px 20px #f3f3f3c9;
	       	margin-top: 30px;
	       	border-radius: 5px;
	       	transition: 0.3s;
		    &:hover{
				background: $main_color;
				color: $white_color;
		    }
		}
	}
}
footer{
	background-color: #a21313;
	@include mq(sp){
		padding:0 15px;
	}
	.footer{
		padding: 30px 0px;
	    max-width: 1200px;
	    margin: 0 auto;
	    display: flex;
	    justify-content: space-between;
	    position: relative;
		.left{
			text-align: left;
		    color: $white_color;
		}
		.right{
			a{
				color: $white_color;
			    font-size: 25px;
			    position: absolute;
			    right: 0;
			}
		}
	}
}

.pagination_group{
	width: 100%;
    display: inline-block;
	ul{
		list-style: none;
		padding-left:0px;
		li{
			&.prev_class{
				float: left;
			}
			&.next_class{
				float: right;
			}
			a{
				&:hover{
					color: $main_color;
				}
			}
		}
	}
}
.con__pagination{
	margin: 30px 0px;
	margin-bottom: 0px;
	text-align: center;
	.wp-pagenavi{
		span , a{
			padding:10px 15px;
			border-radius:3px;
			border:1px solid $main_color !important;
			color: $main_color;
			&.current{
				background-color:$main_color;
				color: $white_color;
				padding:10px 15px;
			}
			&:hover{
				background-color:$main_color;
				color: $white_color;
				padding:10px 15px;
			}
		}
	}
}